 
body{

    background-color: rgb(rgb(90, 27, 27), rgb(47, 140, 47), rgb(102, 102, 204));
}

.container {
    display: flex;
    background-color: orange;
   
}

.card {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(182, 182, 245);
}


